@use "./scss/typography";
@use "./scss/mixins";
@use "./scss/palette";
@use "./scss/button";
@use "./scss/header";
@use "./scss/main";
@use "./scss/footer";

.App {
    margin: 0;
    padding: 0;

    @include mixins.light {
        color: black;
        background-color: #f3f4f6;
    }

    @include mixins.dark {
        background-color: #222222;
        color: #ffffff;
    }
}
