@use "./scss/typography";
@use "./scss/mixins";
@use "./scss/palette";
@use "./scss/button";
@use "./scss/header";
@use "./scss/main";
@use "./scss/footer";

.App {
    margin: 0;
    padding: 0;

    @include mixins.light {
        color: map-get(palette.$dark-theme-font-colors, primary);
        background-color: map-get(palette.$light-theme-colors, secondary);
    }

    @include mixins.dark {
        background-color: map-get(palette.$dark-theme-colors, secondary);
        color: map-get(palette.$light-theme-font-colors, primary);
    }
}
